section.section
  header.section__header
    h3#method-isNativeFunction.section__h3 isNativeFunction(val)
  div.section__content
    h4.section__h4 Description
    p isNativeFunction(val) 方法用来检测测试数据是否为 JavaScript 内置函数。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Function
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 JavaScript 内置函数，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isNativeFunction() 方法
        // import isNativeFunction from '@yaohaixiao/types.js/isNativeFunction'

        const fn = function(){};
        const ff = class {};
        const f = () => console.log('no constructable')

        Types.isNativeFunction(fn) // -> false
        Types.isNativeFunction(ff) // -> false
        Types.isNativeFunction(f) // -> false
        Types.isNativeFunction(document.domain) // -> false

        Types.isNativeFunction(Boolean) // -> true
        Types.isNativeFunction(String) // -> true
        Types.isNativeFunction(Number) // -> true
        Types.isNativeFunction(Object) // -> true
        Types.isNativeFunction(Data) // -> true
        Types.isNativeFunction(RegExp) // -> true
        Types.isNativeFunction(Error) // -> true
        Types.isNativeFunction(Math.floor) // -> true
        Types.isNativeFunction(console.log) // -> true
        Types.isNativeFunction(alert) // -> true
