section.section
  header.section__header
    h2.section__title Function
  div.section__content
    p types.js 提供以下方法来检测 Function 相关的数据类型。
  include ./isConstructor
  include ./isFunction
  include ./isNativeFunction
  include ./isPrototype
