section.section
  header.section__header
    h3#method-isWeakSet.section__h3 isWeakSet(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isWeakSet(val) 方法用来检测测试数据是否为 WeakSet 类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 WeakSet 类型，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isWeakSet() 方法
        // import isWeakSet from '@yaohaixiao/types.js/isWeakSet'

        const set = new Set([1, 2, 3, 4])
        const weakset = new WeakSet()

        weakset.add({name: 'Robert'})

        Types.is(set) // -> 'set'
        Types.isSet(set) // -> true
        Types.isWeakSet(set) // -> false

        Types.is(weakset) // -> 'weakset'
        Types.isSet(weakset) // -> false
        Types.isWeakSet(weakset) // -> true
