section.section
  header.section__header
    h3#method-isHex.section__h3 isHex(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isHex(val) 方法用来检测测试数据的(数值)是否为 16 进制数值。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是 16 进制编码的字符串返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isHex() 方法
        // import isHex from '@yaohaixiao/types.js/isHex'

        Types.isHex('#ffffff') // -> true
        Types.isHex('f3f3f3') // -> true
        Types.isHex('#h1f1f1') // -> false
        Types.isHex('h1f1x1') // -> false
