section.section
  header.section__header
    h3#method-isJSON.section__h3 isJSON(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isJSON(val) 方法用来检测测试数据是否为合法的 JSON 格式。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是 JSON 格式字符串数据返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isJSON() 方法
        // import isJSON from '@yaohaixiao/types.js/isJSON'

        // String
        Types.isJSON('') // -> false
        Types.isJSON("") // -> false
        Types.isJSON("json") // -> true

        // Number
        Types.isJSON(3) // -> false
        Types.isJSON("3") // -> true

        // Boolean
        Types.isJSON(false) // -> false
        Types.isJSON("false") // -> true

        // Object
        Types.isJSON(null) // -> false
        Types.isJSON("null") // -> true

        Types.isJSON({ prop: 'JSON' }) // -> false
        Types.isJSON("{\"prop\":\"JSON\"}") // -> true

        // Array
        Types.isJSON([1, 2, 3]) // -> false
        Types.isJSON("[1, 2, 3]") // -> true
