section.section
  header.section__header
    h3#method-isURL.section__h3 isURL(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isURL(val) 方法用来检测测试数据是否为合法的 URL 格式。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是合法的 URL 格式（字符串），返回 true，否则返回。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isURL() 方法
        // import isURL from '@yaohaixiao/types.js/isURL'

        // IP 访问
        Types.isURL('http://127.0.0.1') // -> true
        Types.isURL('https://127.0.0') // -> false
        Types.isURL('https://127.0.0.') // -> false

        Types.isURL('http://127.0.0.1:8080') // -> true
        Types.isURL('http://127.0.0.1:8080#top') // -> true
        Types.isURL('http://127.0.0.1:8080?id=22') // -> true
        Types.isURL('http://127.0.0.1/console') // -> true
        Types.isURL('http://127.0.0.1:8080/workbench/?id=2#projects') // -> true

        // 域名访问
        Types.isURL('http://localhost') -> false
        Types.isURL('ftp://www.yaohaixiao.com') -> false

        Types.isURL('http://www.yaohaixiao.') -> false
        Types.isURL('http://www.yaohaixiao.c') -> false
        Types.isURL('http://www.yaohaixiao.c1') -> false

        Types.isURL('https://www.yaohaixiao.cn') -> true
        Types.isURL('https://www.yaohaixiao.com') -> true
        Types.isURL('https://www.yaohaixiao.com:8083') -> true
        Types.isURL('https://www.yaohaixiao.com/blog#top') -> true
        Types.isURL('https://www.yaohaixiao.com/blog/?page=2') -> true
        Types.isURL('https://www.yaohaixiao.com:8083/blog?page=2#top') -> true
