section.section
  header.section__header
    h2.section__title String
  div.section__content
    p types.js 提供以下方法来检测 String 相关的数据类型。
  include ./isAlpha
  include ./isBase64
  include ./isBlank
  include ./isChinese
  include ./isEmail
  include ./isGuid
  include ./isHex
  include ./isHTML
  include ./isIDNumber
  include ./isIPAddress
  include ./isJSON
  include ./isPhoneNumber
  include ./isSVG
  include ./isTime
  include ./isURL
  include ./isUUID
