section.section
  header.section__header
    h3#method-isArrayLike.section__h3 isArrayLike(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isArrayLike(val) 方法用来检测测试数据是否为类似 Array 类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是类似 Array 类型，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isArrayLike() 方法
        // import isArrayLike from '@yaohaixiao/types.js/isArrayLike'

        let args

        function sum(a, b){
            args = arguments // -> true
            return a + b
        }

        sum(5, 6)

        Types.isArrayLike([1, 2, 3, 4, 5]) // -> true

        // arguments 对象是类似数组类型的数据
        Types.isArrayLike(args) // -> true

        // HTMLNodeList 是类似数组类型的数据
        Types.isArrayLike(document.getElementsByTagName('li')) // -> true

        Types.isArrayLike({ '0': 1, '1': 2, length: 2 }) // -> false
        Types.isArrayLike( new Int8Array() ) // -> false
