section.section
  header.section__header
    h3#method-isEmptyArray.section__h3 isEmptyArray(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.6.0
    h4.section__h4 Description
    p isEmptyArray(val) 方法用来检测测试数据是否为空字符串。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是数据空数组，返回 true，否则 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isEmptyArray() 方法
        // import isEmptyArray from '@yaohaixiao/types.js/isEmptyArray'

        Types.isEmptyArray([]) // -> true
        Types.isEmptyArray(['']) // -> true
        Types.isEmptyArray(new Array()) // -> true

        Types.isEmptyArray(new Array(8)) // -> false
