section.section
  header.section__header
    h2.section__title Array
  div.section__content
    p types.js 提供以下方法来检测 Array 相关的数据类型。
  include ./isArguments
  include ./isArray
  include ./isArrayLike
  include ./isArrayLikeObject
  include ./isEmptyArray
  include ./isEmptyArguments
