section.section
  header.section__header
    h3#method-isFloat.section__h3 isFloat(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isFloat(val) 方法用来检测测试数据的(数值)是否为浮点数。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是浮点数，返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isFloat() 方法
        // import isFloat from '@yaohaixiao/types.js/isFloat'

        Types.isFloat(.1) // -> true
        Types.isFloat(1.01) // -> true
        Types.isFloat(Number("3.4556645445E7")) // -> true
        Types.isFloat(Number("3.4556645445E10")) // -> false
        Types.isFloat(2.0) // -> false
        Types.isFloat(0xffffff) // -> false
        Types.isFloat(NaN) // -> false
        Types.isFloat(Infinity) // -> false
