section.section
  header.section__header
    h3#method-isLength.section__h3 isLength(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isLength(val) 方法用来检测测试数据是否为有效 length 值。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是有效 length 值，返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isLength() 方法
        // import isLength from '@yaohaixiao/types.js/isLength'

        // True
        Types.isLength(256) // -> true
        Types.isLength(0x00ff11) // -> true
        Types.isLength(9007199254740991) // -> true

        // False
        Types.isLength(9007199254740992) // -> false
        Types.isLength(Infinity) // -> false
        Types.isLength(-1) // -> false
