section.section
  header.section__header
    h3#method-isNumeric.section__h3 isNumeric(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isNumeric(val) 方法用来检测测试数据是否为数字(只能是 number 类型或者 '123123' 这样的数字字符串)。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是一个数字，返回 true，否则返回false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isNumeric() 方法
        // import isNumeric from '@yaohaixiao/types.js/isNumeric'

        Types.isNumeric(2) // -> true
        Types.isNumeric(2.4) // -> true
        Types.isNumeric(-2) // -> true
        Types.isNumeric(0xffffff) // -> true
        Types.isNumeric(3.1415926E8) // -> true
        Types.isNumeric('33') // -> true
        Types.isNumeric('0xffffff') // -> true

        Types.isNumeric(NaN) // -> false
        Types.isNumeric(Infinity) // -> false
        Types.isNumeric(-Infinity) // -> false
