section.section
  header.section__header
    h2.section__title Number
  div.section__content
    p types.js 提供以下方法来检测 Number 相关的数据类型。
  include ./isEven
  include ./isFloat
  include ./isInfinite
  include ./isInteger
  include ./isLength
  include ./isNumeric
  include ./isOdd
  include ./isPrime
  include ./isSafeInteger
