section.section
  header.section__header
    h3#method-isHTMLCollection.section__h3 isHTMLCollection(val)
  div.section__content
    h4.section__h4 Description
    p isHTMLCollection(val) 方法用来检测测试数据是否为 HTMLNodeList (元素集合)类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 HTMLNodeList (元素集合)类型，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isHTMLCollection() 方法
        // import isHTMLCollection from '@yaohaixiao/types.js/isHTMLCollection'

        const $list = document.getElementById('list')
        const $div = document.createElement('div')
        const $text = document.createTextNode('text')
        const $items = document.querySelectorAll('.item')
        const $fragment = document.createDocumentFragment()

        Types.is($list) // -> 'element'
        Types.isElement($list) // -> true
        Types.isHTMLCollection($list) // -> false

        Types.is($div) // -> 'element'
        Types.isElement($div) // -> true
        Types.isHTMLCollection($div) // -> false

        Types.is($text) // -> 'text'
        Types.isElement($text) // -> false
        Types.isHTMLCollection($text) // -> false

        Types.is($items) // -> 'collection'
        Types.isElement($items) // -> false
        Types.isHTMLCollection($items) // -> true

        Types.is($fragment) // -> 'fragment'
        Types.isElement($fragment) // -> false
        Types.isHTMLCollection($items) // -> false
