section.section
  header.section__header
    h3#method-isDOM.section__h3 isDOM(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 1.9.0
    h4.section__h4 Description
    p isDOM(val) 方法用来检测测试数据是否为 DOM 类型数据：DOM 节点，TextNode，NodeList 和 DocumentFragment）。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是 DOM 类型数据，返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isDOM() 方法
        // import isDOM from '@yaohaixiao/types.js/isDOM'

        const $list = document.getElementById('list')
        const $fragment = document.createDocumentFragment()
        const $items = document.querySelectorAll('.item')
        const $text = document.createTextNode('text')

        Types.is($list) // -> 'element'
        Types.isDOM($list) // -> true

        Types.is($fragment) // -> 'fragment'
        Types.isDOM($fragment) // -> true

        Types.is($items) // -> 'collection'
        Types.isDOM($items) // -> true

        Types.is($text) // -> 'text'
        Types.isDOM($text) // -> true
