section.section
  header.section__header
    h3#method-isElement.section__h3 isElement(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isElement(val) 方法用来检测测试数据是否为 Element 实例。
    p 注意：isElement 调整后，是一个更通用的接口，它可以表示任何类型的元素节点，不仅包括 HTML 元素，还包括 SVG（可缩放矢量图形）元素、MathML（数学标记语言）元素等。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 为 HTML 元素节点返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isElement() 方法
        // import isElement from '@yaohaixiao/types.js/isElement'

        const $list = document.getElementById('list')
        const $div = document.createElement('div')
        const $text = document.createTextNode('text')
        const $items = document.querySelectorAll('.item')
        const $fragment = document.createDocumentFragment()
        const svgElement = document.createElementNS('http://www.w3.org/2000/svg', 'svg')

        Types.isElement(svgElement) // -> true
        Types.isHTMLElement(svgElement) // -> false

        Types.is($list) // -> 'element'
        Types.isElement($list) // -> true

        Types.is($div) // -> 'element'
        Types.isElement($div) // -> true

        Types.is($text) // -> 'text'
        Types.isElement($text) // -> false

        Types.is($items) // -> 'collection'
        Types.isElement($items) // -> false

        Types.is($fragment) // -> 'collection'
        Types.isElement($fragment) // -> false

        Types.isElement([]) // -> false
