section.section
  header.section__header
    h3#method-isHTMLElement.section__h3 isHTMLElement(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 2.7.0
    h4.section__h4 Description
    p isHTMLElement(val) 方法用来检测测试数据是否为 HTMLElement (元素节点)类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 为 HTML 元素节点，返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isHTMLElement() 方法
        // import isHTMLElement from '@yaohaixiao/types.js/isHTMLElement'

        const $list = document.getElementById('list')
        const $div = document.createElement('div')
        const $text = document.createTextNode('text')
        const $items = document.querySelectorAll('.item')
        const $fragment = document.createDocumentFragment()

        Types.is($list) // -> 'element'
        Types.isHTMLElement($list) // -> true

        Types.is($div) // -> 'element'
        Types.isHTMLElement($div) // -> true

        Types.is($text) // -> 'text'
        Types.isHTMLElement($text) // -> false

        Types.is($items) // -> 'collection'
        Types.isHTMLElement($items) // -> false

        Types.is($fragment) // -> 'collection'
        Types.isHTMLElement($fragment) // -> false
