section.section
  header.section__header
    h3#method-isTruly.section__h3 isTruly(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 2.8.0
    h4.section__h4 Description
    p isTruly(val) 方法用来检测测试数据是否为在布尔上下文中被视为 true 的值。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String。
    p 'val' 在布尔上下文中被视为 true 的值，返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isTruly() 方法
        // import isTruly from '@yaohaixiao/types.js/isTruly'

        Types.isTruly(true); // -> true
        Types.isTruly(1); // -> true
        Types.isTruly("hello"); // -> true
        Types.isTruly({}); // -> true
        Types.isTruly([]); // -> true

        Types.isTruly(false); // -> false
        Types.isTruly(0); // -> false
        Types.isTruly(''); // -> false
        Types.isTruly(null); // -> false
        Types.isTruly(undefined); // -> false
        Types.isTruly(NaN); // -> false
