section.section#section-base
  header.section__header
    h2.section__title Base
  div.section__content
    p types.js 提供以下基础的数据类型检测方法。
  include ./is
  include ./isEmpty
  include ./isFalsy
  include ./isNil
  include ./isTruly
  include ./isValue
