doctype html
html(lang="en")
  head
    include ./meta
    include ./preload
    title="Types.js | 专注于检测 JavaScript 数据类型的工具库"
    include ./style
  body
    div#docs.docs
      include ./aside
      include ./main
    include ./arrows
    include ./script
