main#main.main
  include ./header

  include ./cdn
  include ./download

  article#article
    include ./Base/section
    include ./Primitive/section
    include ./Arguments/section
    include ./Array/section
    include ./Typed/section
    include ./Element/section
    include ./Encoded/section
    include ./Function/section
    include ./Collections/section
    include ./Number/section
    include ./Object/section
    include ./String/section

  include ./footer
