meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="JavaScript,typeof,detect,types,types.js")
meta(name="description" content="types.js - A library of tools focused on detecting JavaScript data types.")
link(rel="shortcut icon" href="./favicon.ico")
