meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="JavaScript,typeof,types.js")
meta(name="description" content="types.js 专注于检测 JavaScript 数据类型的工具库。")
