h3.aside__h3 Methods
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-is") is()
  li.aside__item
    a.aside__anchor(href="#method-isArguments") isArguments()
  li.aside__item
    a.aside__anchor(href="#method-isArray") isArray()
  li.aside__item
    a.aside__anchor(href="#method-isArrayBuffer") isArrayBuffer()
  li.aside__item
    a.aside__anchor(href="#method-isArrayLike") isArrayLike()
  li.aside__item
    a.aside__anchor(href="#method-isArrayLikeObject") isArrayLikeObject()
  li.aside__item
    a.aside__anchor(href="#method-isBase64") isBase64()
  li.aside__item
    a.aside__anchor(href="#method-isBlank") isBlank()
  li.aside__item
    a.aside__anchor(href="#method-isBoolean") isBoolean()
  li.aside__item
    a.aside__anchor(href="#method-isConstructor") isConstructor()
  li.aside__item
    a.aside__anchor(href="#method-isDataView") isDataView()
  li.aside__item
    a.aside__anchor(href="#method-isDate") isDate()
  li.aside__item
    a.aside__anchor(href="#method-isElement") isElement()
  li.aside__item
    a.aside__anchor(href="#method-isEmail") isEmail()
  li.aside__item
    a.aside__anchor(href="#method-isEmpty") isEmpty()
  li.aside__item
    a.aside__anchor(href="#method-isEmptyObject") isEmptyObject()
  li.aside__item
    a.aside__anchor(href="#method-isError") isError()
  li.aside__item
    a.aside__anchor(href="#method-isEven") isEven()
  li.aside__item
    a.aside__anchor(href="#method-isFloat") isFloat()
  li.aside__item
    a.aside__anchor(href="#method-isFloat32Array") isFloat32Array()
  li.aside__item
    a.aside__anchor(href="#method-isFloat64Array") isFloat64Array()
  li.aside__item
    a.aside__anchor(href="#method-isFunction") isFunction()
  li.aside__item
    a.aside__anchor(href="#method-isHash") isHash()
  li.aside__item
    a.aside__anchor(href="#method-isHex") isHex()
  li.aside__item
    a.aside__anchor(href="#method-isHTMLCollection") isHTMLCollection()
  li.aside__item
    a.aside__anchor(href="#method-isInfinite") isInfinite()
  li.aside__item
    a.aside__anchor(href="#method-isInt8Array") isInt8Array()
  li.aside__item
    a.aside__anchor(href="#method-isInt16Array") isInt16Array()
  li.aside__item
    a.aside__anchor(href="#method-isInt32Array") isInt32Array()
  li.aside__item
    a.aside__anchor(href="#method-isInteger") isInteger()
  li.aside__item
    a.aside__anchor(href="#method-isIPAddress") isIPAddress()
  li.aside__item
    a.aside__anchor(href="#method-isJSON") isJSON()
  li.aside__item
    a.aside__anchor(href="#method-isLength") isLength()
  li.aside__item
    a.aside__anchor(href="#method-isMap") isMap()
  li.aside__item
    a.aside__anchor(href="#method-isNativeFunction") isNativeFunction()
  li.aside__item
    a.aside__anchor(href="#method-isNull") isNull()
  li.aside__item
    a.aside__anchor(href="#method-isNumber") isNumber()
  li.aside__item
    a.aside__anchor(href="#method-isNumeric") isNumeric()
  li.aside__item
    a.aside__anchor(href="#method-isObject") isObject()
  li.aside__item
    a.aside__anchor(href="#method-isObjectLike") isObjectLike()
  li.aside__item
    a.aside__anchor(href="#method-isOdd") isOdd()
  li.aside__item
    a.aside__anchor(href="#method-isPhoneNumber") isPhoneNumber()
  li.aside__item
    a.aside__anchor(href="#method-isPlainObject") isPlainObject()
  li.aside__item
    a.aside__anchor(href="#method-isPrototype") isPrototype()
  li.aside__item
    a.aside__anchor(href="#method-isRegExp") isRegExp()
  li.aside__item
    a.aside__anchor(href="#method-isSet") isSet()
  li.aside__item
    a.aside__anchor(href="#method-isString") isString()
  li.aside__item
    a.aside__anchor(href="#method-isSymbol") isSymbol()
  li.aside__item
    a.aside__anchor(href="#method-isTextNode") isTextNode()
  li.aside__item
    a.aside__anchor(href="#method-isTypedArray") isTypedArray()
  li.aside__item
    a.aside__anchor(href="#method-isUint8Array") isUint8Array()
  li.aside__item
    a.aside__anchor(href="#method-isUint8ClampedArray") isUint8ClampedArray()
  li.aside__item
    a.aside__anchor(href="#method-isUint16Array") isUint16Array()
  li.aside__item
    a.aside__anchor(href="#method-isUint32Array") isUint32Array()
  li.aside__item
    a.aside__anchor(href="#method-isUndefined") isUndefined()
  li.aside__item
    a.aside__anchor(href="#method-isURL") isURL()
  li.aside__item
    a.aside__anchor(href="#method-isValue") isValue()
  li.aside__item
    a.aside__anchor(href="#method-isVNode") isVNode()
  li.aside__item
    a.aside__anchor(href="#method-isWeakMap") isWeakMap()
  li.aside__item
    a.aside__anchor(href="#method-isWeakSet") isWeakSet()
  li.aside__item
    a.aside__anchor(href="#method-isXML") isXML()
