h3.aside__h3 Base
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-is") Types.is()
  li.aside__item
    a.aside__anchor(href="#method-isValue") Types.isValue()
h3.aside__h3 Primitive Values
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-isBigInt") Types.isBigInt()
  li.aside__item
    a.aside__anchor(href="#method-isBoolean") Types.isBoolean()
  li.aside__item
    a.aside__anchor(href="#method-isNull") Types.isNull()
  li.aside__item
    a.aside__anchor(href="#method-isNumber") Types.isNumber()
  li.aside__item
    a.aside__anchor(href="#method-isString") Types.isString()
  li.aside__item
    a.aside__anchor(href="#method-isSymbol") Types.isSymbol()
  li.aside__item
    a.aside__anchor(href="#method-isUndefined") Types.isUndefined()
h3.aside__h3 Keyed Collections
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-isMap") Types.isMap()
  li.aside__item
    a.aside__anchor(href="#method-isSet") Types.isSet()
  li.aside__item
    a.aside__anchor(href="#method-isWeakMap") Types.isWeakMap()
  li.aside__item
    a.aside__anchor(href="#method-isWeakSet") Types.isWeakSet()
h3.aside__h3 Array
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-isArray") Types.isArray()
  li.aside__item
    a.aside__anchor(href="#method-isArguments") Types.isArguments()
  li.aside__item
    a.aside__anchor(href="#method-isArrayLike") Types.isArrayLike()
  li.aside__item
    a.aside__anchor(href="#method-isArrayLikeObject") Types.isArrayLikeObject()
  li.aside__item
    a.aside__anchor(href="#method-isEmptyArray") Types.isEmptyArray()
h3.aside__h3 Typed Arrays
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-isTypedArray") Types.isTypedArray()
  li.aside__item
    a.aside__anchor(href="#method-isArrayBuffer") Types.isArrayBuffer()
  li.aside__item
    a.aside__anchor(href="#method-isInt8Array") Types.isInt8Array()
  li.aside__item
    a.aside__anchor(href="#method-isInt16Array") Types.isInt16Array()
  li.aside__item
    a.aside__anchor(href="#method-isInt32Array") Types.isInt32Array()
  li.aside__item
    a.aside__anchor(href="#method-isUint8Array") Types.isUint8Array()
  li.aside__item
    a.aside__anchor(href="#method-isUint8ClampedArray") Types.isUint8ClampedArray()
  li.aside__item
    a.aside__anchor(href="#method-isUint16Array") Types.isUint16Array()
  li.aside__item
    a.aside__anchor(href="#method-isUint32Array") Types.isUint32Array()
  li.aside__item
    a.aside__anchor(href="#method-isFloat32Array") Types.isFloat32Array()
  li.aside__item
    a.aside__anchor(href="#method-isFloat64Array") Types.isFloat64Array()
  li.aside__item
    a.aside__anchor(href="#method-isBigInt64Array") Types.isBigInt64Array()
  li.aside__item
    a.aside__anchor(href="#method-isBigUint64Array") Types.isBigUint64Array()
h3.aside__h3 Object
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-isObject") Types.isObject()
  li.aside__item
    a.aside__anchor(href="#method-isObjectLike") Types.isObjectLike()
  li.aside__item
    a.aside__anchor(href="#method-isEmptyObject") Types.isEmptyObject()
  li.aside__item
    a.aside__anchor(href="#method-isHash") Types.isHash()
  li.aside__item
    a.aside__anchor(href="#method-isPlainObject") Types.isPlainObject()
  li.aside__item
    a.aside__anchor(href="#method-isPrototype") Types.isPrototype()
  li.aside__item
    a.aside__anchor(href="#method-isDate") Types.isDate()
  li.aside__item
    a.aside__anchor(href="#method-isDataView") Types.isDataView()
  li.aside__item
    a.aside__anchor(href="#method-isError") Types.isError()
  li.aside__item
    a.aside__anchor(href="#method-isRegExp") Types.isRegExp()
  li.aside__item
    a.aside__anchor(href="#method-isElement") Types.isElement()
  li.aside__item
    a.aside__anchor(href="#method-isHTMLCollection") Types.isHTMLCollection()
  li.aside__item
    a.aside__anchor(href="#method-isFragment") Types.isFragment()
  li.aside__item
    a.aside__anchor(href="#method-isTextNode") Types.isTextNode()
  li.aside__item
    a.aside__anchor(href="#method-isVNode") Types.isVNode()
h3.aside__h3 Function
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-isFunction") Types.isFunction()
  li.aside__item
    a.aside__anchor(href="#method-isConstructor") Types.isConstructor()
  li.aside__item
    a.aside__anchor(href="#method-isNativeFunction") Types.isNativeFunction()
h3.aside__h3 Number
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-isNumeric") Types.isNumeric()
  li.aside__item
    a.aside__anchor(href="#method-isInteger") Types.isInteger()
  li.aside__item
    a.aside__anchor(href="#method-isFloat") Types.isFloat()
  li.aside__item
    a.aside__anchor(href="#method-isEven") Types.isEven()
  li.aside__item
    a.aside__anchor(href="#method-isOdd") Types.isOdd()
  li.aside__item
    a.aside__anchor(href="#method-isInfinite") Types.isInfinite()
  li.aside__item
    a.aside__anchor(href="#method-isLength") Types.isLength()
h3.aside__h3 String
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-isBase64") Types.isBase64()
  li.aside__item
    a.aside__anchor(href="#method-isBlank") Types.isBlank()
  li.aside__item
    a.aside__anchor(href="#method-isEmpty") Types.isEmpty()
  li.aside__item
    a.aside__anchor(href="#method-isHex") Types.isHex()
  li.aside__item
    a.aside__anchor(href="#method-isPhoneNumber") Types.isPhoneNumber()
  li.aside__item
    a.aside__anchor(href="#method-isIPAddress") Types.isIPAddress()
  li.aside__item
    a.aside__anchor(href="#method-isURL") Types.isURL()
  li.aside__item
    a.aside__anchor(href="#method-isEmail") Types.isEmail()
  li.aside__item
    a.aside__anchor(href="#method-isJSON") Types.isJSON()
  li.aside__item
    a.aside__anchor(href="#method-isHTML") Types.isHTML()
  li.aside__item
    a.aside__anchor(href="#method-isXML") Types.isXML()
