section.section
  header.section__header
    h3#method-isString.section__h3 isString(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isString(val) 方法用来检测测试数据是否为 String 类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是字符串返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isString() 方法
        // import isString from '@yaohaixiao/types.js/isString'

        const text = document.createTextNode('text')

        Types.isString('') // -> true
        Types.isString(String(2)) // -> true
        Types.isString(2 + '0') // -> true

        Types.isString(2) // -> false
        Types.isString(new String()) // -> false
        Types.isString(text) // -> false
