section.section
  header.section__header
    h3#method-isUndefined.section__h3 isUndefined(val)
  div.section__content
    h4.section__h4 Description
    p isUndefined(val) 方法用来检测测试数据是否为 undefined。
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Lang
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 undefined，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isUndefined() 方法
        // import isUndefined from '@yaohaixiao/types.js/isUndefined'

        let projects

        Types.isUndefined(projects) // -> true

        Types.isUndefined([]) // -> false
        Types.isUndefined('') // -> false
        Types.isUndefined(0) // -> false
        Types.isUndefined(NaN) // -> false
        Types.isUndefined({}) // -> false
        Types.isUndefined(null) // -> false
