section.section
  header.section__header
    h2.section__title Primitive Values
  div.section__content
    p types.js 提供以下方法来检测 Primitive Values（基础值类型） 相关的数据类型。
  include ./isBigInt
  include ./isBoolean
  include ./isNull
  include ./isNumber
  include ./isString
  include ./isSymbol
  include ./isUndefined
  include ./isPrimitive
