section.section
  header.section__header
    h3#method-is.section__h3 is(val)
  div.section__content
    h4.section__h4 Description
    p is(val) 方法返回检测 val 数据类型的字符串（名称）。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String。
    p 数据类型的字符串（名称）。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js/esm/types'

        let Example

        Types.is('types.js') // -> string
        Types.is(2023) // -> number
        Types.is(true) // -> boolean
        Types.is(Example) // -> undefined
        Types.is(null) // -> null

        Types.is(new Set()) // -> set
        Types.is(new WeakSet() // -> weakset
        Types.is(new Map() // -> map
        Types.is(new WeakMap() // -> weakmap
        Types.is(Symbol()) // -> symbol

        Types.is([]) // -> array
        Types.is(new ArrayBuffer(8)) // -> arraybuffer
        Types.is(new Int8Array([])) // -> int8array
