section.section
  header.section__header
    h3#method-isBuffer.section__h3 isBuffer(val)
  div.section__content
    h4.section__h4 Description
    p isBuffer(val) 方法用来检测测试数据是否为 Buffer 类型（运行环境：Node.js）。
    p 注意：Node.js 中实现的 Buffer 对象，实际的数据格式是：Uint8Array 类型的数组。
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 1.6.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Lang
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 Buffer 类型，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js/types'
        // 或者单独引用 isBuffer() 方法
        // import isBuffer from '@yaohaixiao/types.js/isBuffer'

        const buffer = Buffer.alloc(15)

        Types.isBuffer(new ArrayBuffer(8)) // -> false
        Types.isBuffer(new Uint8Array(2)) // -> false

        Types.is(buffer) => 'uint8array'
        Types.isBuffer(buffer) // -> true
