section.section
  header.section__header
    h3#method-isConstructor.section__h3 isConstructor(val)
  div.section__content
    h4.section__h4 Description
    p isConstructor(val) 方法用来检测测试数据是否为构造函数。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Function | Object
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是构造函数，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js/esm/types'
        // 或者单独引用 isConstructor() 方法
        // import isConstructor from '@yaohaixiao/types.js/esm/isConstructor'

        const fn = function(){};
        const ff = class {};

        Types.isConstructor(fn) // -> true
        Types.isConstructor(ff) // -> true
        Types.isConstructor(console.log) // -> false

        Types.isConstructor(Math) // -> false
        Types.isConstructor(Boolean) // -> true
        Types.isConstructor(Array) // -> true
        Types.isConstructor(Function) // -> true
        Types.isConstructor(Date) // -> true
        Types.isConstructor(RegExp) // -> true
        Types.isConstructor(Object) // -> true
