section.section
  header.section__header
    h3#method-isInteger.section__h3 isInteger(val)
  div.section__content
    h4.section__h4 Description
    p isInteger(val) 方法用来检测测试数据的(数值)是否为整数。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据(数值)为整数，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js/esm/types'
        // 或者单独引用 isInteger() 方法
        // import isInteger from '@yaohaixiao/types.js/esm/isInteger'

        // False
        Types.isInteger(2.4) // -> false
        Types.isInteger(3.4234E3) // -> false
        Types.isInteger('1') // -> false
        Types.isInteger(Number('3.4556645445E7')) // -> false
        Types.isInteger(NaN) // -> false
        Types.isInteger(Infinity) // -> false
        Types.isInteger(-Infinity) // -> false

        // True
        Types.isInteger(2) // -> true
        Types.isInteger(2.0) // -> true
        Types.isInteger(3.4234E4) // -> true
        Types.isInteger(0xffffff) // -> true
        Types.isInteger(Number('1')) // -> true
        Types.isInteger(parseInt('1.0', 10)) // -> true
        Types.isInteger(Math.ceil(2.6)) // -> true
