section.section
  header.section__header
    h3#method-isIPAddress.section__h3 isIPAddress(val)
  div.section__content
    h4.section__h4 Description
    p isIPAddress(val) 方法用来检测测试数据是否为合法的 IP 地址格式。
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Lang
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是合法的 IP 地址格式，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js/types'
        // 或者单独引用 isIPAddress() 方法
        // import isIPAddress from '@yaohaixiao/types.js/isIPAddress'

        // IPv4
        Types.isIPAddress('126.11.15.33') // -> true
        Types.isIPAddress('255.255.255.255') // -> true
        Types.isIPAddress('126.11.15.255') // -> false
        Types.isIPAddress('126.11.15.256') // -> false
        Types.isIPAddress('126.11.15.a56') // -> false
        Types.isIPAddress('126.11.15.') // -> false

        // IPv6
        Types.isIPAddress('FC00:0000:130F:0000:0000:09C0:876A:130B') // -> true
        Types.isIPAddress('FC00:0000:130F:0000:0000:09C0:876A:130') // -> true
        Types.isIPAddress('FC00:0000:130F:0000:0000:09C0:876A') // -> false
        Types.isIPAddress('FC00:0000:130F:0000:0000:09C0:876A:X130') // -> false

