section.section
  header.section__header
    h3#method-isOdd.section__h3 isOdd(vaL)
  div.section__content
    h4.section__h4 Description
    p isOdd(val) 方法用来检测测试数据的(数值)是否为奇数。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据(数值)为奇数，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js/esm/types'
        // 或者单独引用 isOdd() 方法
        // import isOdd from '@yaohaixiao/types.js/esm/isOdd'

        Types.isOdd(3) // -> true
        Types.isOdd(3.01E2) // -> true
        Types.isOdd(0x000011) // -> true

        Types.isOdd(3.01E3) // -> false
        Types.isOdd(0x000010) // -> false
        Types.isOdd(NaN) // -> false
        Types.isOdd(Infinity) // -> false
        Types.isOdd('3') // -> false
        Types.isOdd(2) // -> false
        Types.isOdd(2.0) // -> false
