section.section
  header.section__header
    h3#method-isPhoneNumber.section__h3 isPhoneNumber(val)
  div.section__content
    h4.section__h4 Description
    p isPhoneNumber(val) 方法用来检测测试数据是否为合法的电话号码格式。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是合法的电话号码格式，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js/esm/types'

        // 移动电话号码
        Types.isPhoneNumber(13901030304) // -> false
        Types.isPhoneNumber('1390103030a') // => false

        Types.isPhoneNumber('+86 13901030304') // -> true
        Types.isPhoneNumber('13901030304') // -> true
        Types.isPhoneNumber('139-010-30304') // -> true
        Types.isPhoneNumber('139.010.30304') // -> true

        // 固定电话号码
        Types.isPhoneNumber('+86 84923296') // -> true
        Types.isPhoneNumber('027 84923296') // -> true
        Types.isPhoneNumber('(027) 84923296') // -> true
        Types.isPhoneNumber('(027)84923296') // -> true
        Types.isPhoneNumber('027-84923296') // -> true
        Types.isPhoneNumber('027.84923296') // -> true
        Types.isPhoneNumber('027 849-23296') // -> true
        Types.isPhoneNumber('027-849-23296') // -> true
