section.section
  header.section__header
    h3#method-isVNode.section__h3 isVNode(val)
  div.section__content
    h4.section__h4 Description
    p isVNode(val) 方法用来检测测试数据是否为 VNode (VUE虚拟节点)类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 VNode (VUE虚拟节点)类型，false 则表示不是。
    pre.section__pre
      code.section__code.
        &lt;template&gt;
           &lt;dev-header ref="header"&gt;&lt;/dev-header&gt;
        &lt;/template&gt;

        &lt;script&gt;
        import Types from '@yaohaixiao/types.js/esm/types'

        export default {
          name: 'PageHeader',
          mounted() {
            const $header = this.$refs.header

            Types.isVNode($header) // -> true
          }
        }
        &lt;/script&gt;
