section.section
  header.section__header
    h3#method-isXML.section__h3 isXML(val)
  div.section__content
    h4.section__h4 Description
    p isXML(val) 方法用来检测测试数据是否为合法的 XML 格式。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是合法的 XML 格式，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js/esm/types'
        // 或者单独引用 isXML() 方法
        // import isXML from '@yaohaixiao/types.js/esm/isXML'

        import jsdom from 'jsdom'
        import { DOMParser } from 'xmldom'

        const { JSDOM } = jsdom;

        const HTML = new JSDOM('&lt;html&gt;&lt;head&gt;&lt;title&gt;isXML&lt;/title&gt;&lt;/head&gt;&lt;body&gt;&lt;p&gt;p1&lt;/p&gt;&lt;p&gt;p2&lt;/p&gt;&lt;p&gt;p3&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;')
        const XML = new DOMParser().parseFromString(
            '&lt;xml xmlns="a" xmlns:c="./lite"&gt;\n'+
                '\t&lt;child&gt;test&lt;/child&gt;\n'+
                '\t&lt;child&gt;&lt;/child&gt;\n'+
                '\t&lt;child/&gt;\n'+
            '&lt;/xml&gt;','text/xml')

        Types.isXML(XML) // -> true

        Types.isXML('html') // -> false
        Types.isXML(HTML) // -> false
