section#methods.section
  header.section__header
    h2.section__title Base
  include is
  include isValue
  header.section__header
    h2.section__title Primitive Values
  include isBigInt
  include isBoolean
  include isNull
  include isNumber
  include isString
  include isSymbol
  include isUndefined
  header.section__header
    h2.section__title Keyed Collections
  include isMap
  include isSet
  include isWeakMap
  include isWeakSet
  header.section__header
    h2.section__title Array
  include isArray
  include isArguments
  include isArrayLike
  include isArrayLikeObject
  include isEmptyArray
  header.section__header
    h2.section__title Typed Arrays
  include isTypedArray
  include isDataView
  include isArrayBuffer
  include isInt8Array
  include isInt16Array
  include isInt32Array
  include isUint8Array
  include isUint8ClampedArray
  include isUint16Array
  include isUint32Array
  include isFloat32Array
  include isFloat64Array
  include isBigInt64Array
  include isBigUint64Array
  header.section__header
    h2.section__title Object
  include isObject
  include isObjectLike
  include isEmptyObject
  include isBuffer
  include isHash
  include isPlainObject
  include isPromise
  include isPrototype
  include isDate
  include isError
  include isRegExp
  include isElement
  include isFragment
  include isHTMLCollection
  include isTextNode
  include isDOM
  include isVNode
  include isXML
  header.section__header
    h2.section__title Function
  include isFunction
  include isConstructor
  include isNativeFunction
  header.section__header
    h2.section__title Number
  include isNumeric
  include isInteger
  include isFloat
  include isEven
  include isOdd
  include isInfinite
  include isLength
  header.section__header
    h2.section__title String
  include isBase64
  include isBlank
  include isEmpty
  include isChinese
  include isGuid
  include isHex
  include isPhoneNumber
  include isTime
  include isIPAddress
  include isURL
  include isEmail
  include isJSON
  include isHTML
