section#methods.section
  header.section__header
    h2.section__title Methods
  include is
  include isArguments
  include isArray
  include isArrayBuffer
  include isArrayLike
  include isArrayLikeObject
  include isBase64
  include isBigInt
  include isBigInt64Array
  include isBigUint64Array
  include isBlank
  include isBoolean
  include isConstructor
  include isDataView
  include isDate
  include isElement
  include isEmail
  include isEmpty
  include isEmptyArray
  include isEmptyObject
  include isError
  include isEven
  include isFloat
  include isFragment
  include isFloat32Array
  include isFloat64Array
  include isFunction
  include isHash
  include isHex
  include isHTML
  include isHTMLCollection
  include isInfinite
  include isInt8Array
  include isInt16Array
  include isInt32Array
  include isInteger
  include isIPAddress
  include isJSON
  include isLength
  include isMap
  include isNativeFunction
  include isNull
  include isNumber
  include isNumeric
  include isObject
  include isObjectLike
  include isOdd
  include isPhoneNumber
  include isPlainObject
  include isPrototype
  include isRegExp
  include isSet
  include isString
  include isSymbol
  include isTextNode
  include isTypedArray
  include isUint8Array
  include isUint8ClampedArray
  include isUint16Array
  include isUint32Array
  include isUndefined
  include isURL
  include isValue
  include isVNode
  include isWeakMap
  include isWeakSet
  include isXML

