section.section
  header.section__header
    h3#method-isBigInt64Array.section__h3 isBigInt64Array(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.6.0
    h4.section__h4 Description
    p isBigInt64Array(val) 方法用来检测测试数据是否为 BigInt64Array 类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是 BigInt64Array 类型，返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isBigInt64Array() 方法
        // import isBigInt64Array from '@yaohaixiao/types.js/isBigInt64Array'

        const arr = [9007199254740992]
        cong bigint64 = new BigInt64Array(42)

        Type.is(bigint) // -> 'bigint64array'

        Types.isBigInt64Array(arr) // -> false
        Types.isBigInt64Array(bigint64) // -> true
