section.section
  header.section__header
    h3#method-isFloat64Array.section__h3 isFloat64Array(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isFloat64Array(val) 方法用来检测测试数据是否为 Float64Array 类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是 Float64Array 类型，返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isFloat64Array() 方法
        // import isFloat64Array from '@yaohaixiao/types.js/isFloat64Array'

        const numbers = [ 2, 4 ]
        let args

        function test(a){
          args = arguments
          return a === 'test'
        }

        test()

        Types.isFloat64Array(numbers) // -> false
        Types.isFloat64Array(new Array(32)) // -> false
        Types.isFloat64Array(args) // -> false
        Types.isFloat64Array(new Float64Array()) // -> true
