section.section
  header.section__header
    h3#method-isTypedArray.section__h3 isTypedArray(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isTypedArray(val) 方法用来检测测试数据是否为 TypedArray 类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是 TypedArray 类型，返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isTypedArray() 方法
        // import isTypedArray from '@yaohaixiao/types.js/isTypedArray'

        const numbers = [ 2, 4 ]
        let args

        function test(str) {
          args = arguments
          return str
        }

        test('str')

        Types.isTypedArray( args ) // -> false
        Types.isTypedArray( numbers ) // -> false
        Types.isTypedArray( new Array() ) // -> false

        Types.isTypedArray(new Int8Array([])) // -> true
        Types.isTypedArray(new Int16Array([])) // -> true
        Types.isTypedArray(new Int32Array([])) // -> true

        Types.isTypedArray(new Uint8ClampedArray([])) // -> true
        Types.isTypedArray(new Uint8Array([])) // -> true
        Types.isTypedArray(new Uint16Array([])) // -> true
        Types.isTypedArray(new Uint32Array([])) // -> true

        Types.isTypedArray(new Float32Array([])) // -> true
        Types.isTypedArray(new Float64Array([])) // -> true

        Types.isTypedArray(new BigInt64Array(42)) // -> true
        Types.isTypedArray(new BigUint64Array(42)) // -> true
