section.section
  header.section__header
    h3#method-isUint16Array.section__h3 isUint16Array(val)
  div.section__content
    h4.section__h4 Description
    p isUint16Array(val) 方法用来检测测试数据是否为 Uint16Array 类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 Uint16Array 类型，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isUint16Array() 方法
        // import isUint16Array from '@yaohaixiao/types.js/isUint16Array'

        const numbers = [ 2, 4 ]
        let args

        function test(a){
          args = arguments
          return a === 'test'
        }

        test()

        Types.isUint16Array(numbers) // -> false
        Types.isUint16Array(new Array(32)) // -> false
        Types.isUint16Array(args) // -> false
        Types.isUint16Array(new Uint16Array()) // -> true
