section.section#section-typed
  header.section__header
    h2.section__title Typed Arrays
  div.section__content
    p types.js 提供以下方法来检测 Typed Arrays 相关的数据类型。
  include ./isArrayBuffer
  include ./isBigInt64Array
  include ./isBigUint64Array
  include ./isDataView
  include ./isFloat32Array
  include ./isFloat64Array
  include ./isInt8Array
  include ./isInt16Array
  include ./isInt32Array
  include ./isUint8Array
  include ./isUint8ClampedArray
  include ./isUint16Array
  include ./isUint32Array
  include ./isTypedArray

