section.section
  header.section__header
    h3#method-isObject.section__h3 isObject(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isObject(val) 方法用来检测测试数据是否为 Object 类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 Object 类型，false 则表示不是。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isObject() 方法
        // import isObject from '@yaohaixiao/types.js/isObject'

        const $list = document.getElementById('list')

        // True
        Types.isObject({}) // => true
        Types.isObject(Object) // => true
        Types.isObject(new Object()) // => true
        Types.isObject(Object.create(null)) // => true
        Types.isObject([]) // => true
        Types.isObject(() => {}) // => true
        Types.isObject(class {}) // => true
        Types.isObject($list) // => true

        // False
        Types.isObject('null') // => false
        Types.isObject(1) // => false
        Types.isObject(false) // => false
        Types.isObject(Symbol('ok')) // => false
        Types.isObject($list) // => false

        // 针对 null，type.js 认为不是一个有效对象
        // 以避免将 null 作为普通对象操作导致的错误
        Types.isObject(null) // => false
