section.section
  header.section__header
    h3#method-isObjectLike.section__h3 isObjectLike(val)
  div.section__content
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.2.0
    h4.section__h4 Description
    p isObjectLike(val) 方法用来检测测试数据是否为类似 Object 类型。
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）要检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 'val' 是类似 Object 类型，返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        import Types from '@yaohaixiao/types.js'
        // 或者单独引用 isObjectLike() 方法
        // import isObjectLike from '@yaohaixiao/types.js/isObjectLike'

        // True
        Types.isObjectLike(function empty(){}) // -> true
        Types.isObjectLike({}) // -> true
        Types.isObjectLike(Object.create(null)) // -> true
        Types.isObjectLike(Object.create({})) // -> true
        Types.isObjectLike(new Function()) // -> true

        // False
        Types.isObjectLike([]) // -> false
        Types.isObjectLike(null) // -> false
        Types.isObjectLike(document.getElementById('wrap')) // -> false
