section.section
  header.section__header
    h2.section__title Object
  div.section__content
    p types.js 提供以下方法来检测 Object 相关的数据类型。
  include ./isBinary
  include ./isBuffer
  include ./isDate
  include ./isEmptyObject
  include ./isError
  include ./isHash
  include ./isObject
  include ./isObjectLike
  include ./isPlainObject
  include ./isPromise
  include ./isRegExp
  include ./isStream
  include ./isXML
